html {
    height: 100%;
    width: 100%;
  }

body{
  background-color: rgb(207, 207, 207);
  margin-left: 25px; 
  padding: 0;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
}

h3{
  color: green;
}

.colorBlue{
  color: blue;
}

#colorRed{
  color: red;
}

#number{
  font-size: 50px;
  cursor: pointer;
}
.img-thumbnail {
  width: 300px;
  height: 300px;
  object-fit: cover; /* Esto asegura que las imágenes se ajusten al contenedor sin distorsionar */
}